.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.home-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.home-icon {
  width: 36px;
  height: 36px;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link {
  font-weight: bold;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.home-link01 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-link02 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-image {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon02 {
  width: 24px;
  height: 24px;
}
.home-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link03 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link06 {
  text-decoration: none;
}
.home-hero {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/close-up-view-modern-gpu-card-shield-protection-d-rendering-circuit-cyber-security-activated-137578218-1500w.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.home-content-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
}
.home-hero-text {
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading {
  color: rgb(247, 245, 245);
  width: 650px;
  font-size: 48px;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 1.22;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-fiveunits);
  text-transform: none;
  text-decoration: none;
  background-color: rgb(12, 12, 12);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-components {
  width: 100%;
  height: 720px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-features-card {
  width: 30%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-icon04 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.home-text-container {
  width: 257px;
  height: 497px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading1 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text01 {
  color: var(--dl-color-gray-700);
  align-self: flex-start;
  text-align: left;
  margin-bottom: 14px;
}
.home-features-card1 {
  width: 375px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-icon07 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.home-text-container1 {
  width: 262px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading2 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text04 {
  color: var(--dl-color-gray-700);
  font-size: 22px;
  align-self: flex-start;
  text-align: left;
}
.home-features-card2 {
  width: 30%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-icon10 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.home-text-container2 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading3 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text07 {
  color: var(--dl-color-gray-700);
  align-self: flex-start;
  text-align: left;
}
.home-buttons {
  width: 100%;
  height: 55px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.home-navlink {
  top: 0px;
  left: 170px;
  color: rgb(255, 255, 255);
  position: absolute;
  align-self: center;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}
.home-navlink1 {
  top: 0px;
  left: 670px;
  color: rgb(255, 255, 255);
  position: absolute;
  align-self: center;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}
.home-navlink2 {
  top: 0px;
  color: rgb(255, 255, 255);
  right: 250px;
  position: absolute;
  align-self: center;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}
.home-resources {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text10 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-cards-container1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-service-card {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-text11 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text12 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-link07 {
  text-decoration: none;
}
.home-service-card1 {
  width: 30%;
  height: 245px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-text16 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text17 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-link08 {
  text-decoration: none;
}
.home-service-card2 {
  width: 30%;
  height: 244px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-text18 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text19 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-link09 {
  text-decoration: none;
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-team {
  width: 100%;
  height: 559px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container2 {
  width: 565px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-text23 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text24 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-cards-container2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-team-card {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.home-image1 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-name {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container2 {
  width: 82px;
  height: 55px;
  display: flex;
  align-items: flex-start;
}
.home-link10 {
  display: contents;
}
.home-icon13 {
  width: 40px;
  height: 40px;
  text-decoration: none;
}
.home-link11 {
  display: contents;
}
.home-icon15 {
  width: 40px;
  height: 40px;
  text-decoration: none;
}
.home-team-card1 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
  padding-bottom: 32px;
}
.home-image2 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-name1 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container3 {
  width: 82px;
  height: 55px;
  display: flex;
  align-items: flex-start;
}
.home-link12 {
  display: contents;
}
.home-icon17 {
  width: 40px;
  height: 40px;
  text-decoration: none;
}
.home-link13 {
  display: contents;
}
.home-icon19 {
  width: 40px;
  height: 40px;
  text-decoration: none;
}
.home-team-card2 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.home-image3 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-name2 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container4 {
  width: 82px;
  height: 55px;
  display: flex;
  align-items: flex-start;
}
.home-link14 {
  display: contents;
}
.home-icon21 {
  width: 40px;
  height: 40px;
  text-decoration: none;
}
.home-link15 {
  display: contents;
}
.home-icon23 {
  width: 40px;
  height: 40px;
  text-decoration: none;
}
.home-team-card3 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.home-image4 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-name3 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container5 {
  width: 82px;
  height: 55px;
  display: flex;
  align-items: flex-start;
}
.home-link16 {
  display: contents;
}
.home-icon25 {
  width: 40px;
  height: 40px;
  text-decoration: none;
}
.home-link17 {
  display: contents;
}
.home-icon27 {
  width: 40px;
  height: 40px;
  text-decoration: none;
}
.home-team-card4 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.home-image5 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-name4 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container6 {
  width: 82px;
  height: 55px;
  display: flex;
  align-items: flex-start;
}
.home-link18 {
  display: contents;
}
.home-icon29 {
  width: 40px;
  height: 40px;
  text-decoration: none;
}
.home-link19 {
  display: contents;
}
.home-icon31 {
  width: 40px;
  height: 40px;
  text-decoration: none;
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-icon33 {
  width: 24px;
  height: 24px;
}
.home-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon35 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column-reverse;
  }
  .home-content-container {
    flex-direction: column-reverse;
  }
  .home-hero-text {
    width: 80%;
  }
  .home-cards-container2 {
    justify-content: center;
  }
}
@media(max-width: 480px) {
  .home-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-hero {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-content-container {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-hero-text {
    width: 100%;
  }
  .home-components {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-features-card {
    width: 100%;
  }
  .home-features-card1 {
    width: 100%;
  }
  .home-features-card2 {
    width: 100%;
  }
  .home-resources {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-service-card {
    width: 100%;
  }
  .home-service-card1 {
    width: 100%;
  }
  .home-service-card2 {
    width: 100%;
  }
  .home-team {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-text23 {
    text-align: center;
  }
}
